//Fonts
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
$default-font: "Opensans", $helvetica

// Colors
$white: #fff
$black: #000
$white-gray: #f4f5f9
$red: #e74c3c
$gray-light: #cbc6c0


$trs: all 0.3s ease