footer.container.footer
	.wrapper
		.footer__left
			ul.socials
				li
					a(href="#")
						+icon('social', 'socials__img')
				li
					a(href="#")
						+icon('social2', 'socials__img')
				li
					a(href="#")
						+icon('social3', 'socials__img')
				li
					a(href="#")
						+icon('social4', 'socials__img')
				li
					a(href="#")
						+icon('social5', 'socials__img')
				li
					a(href="#")
						+icon('social6', 'socials__img')
		.footer__right
			p Kazi Efran &copy; all rights reserved