section#pricing.price
	.wrapper
		p.price__title Our pricing
		p  30 days free trial for all. A brief story about how this process works, keep an eye till the end.
		.price__devider.devider
			p
		.price__block
			.price__element
				.price__top
					h3.price__name Starter
				.price__bottom
					.price__number
						p 19 #[span per month]
					ul.price__list
						li Competition Analysis Methods
						li All Ranked URLs
						li International Support System
						li Social Media Tracking
					a.price__btn(href="#") Choose plan
			.price__element.price__element--red
				.price__top
					h3.price__name Premium
				.price__bottom
					.price__number
						p 39 #[span per month]
					ul.price__list
						li Competition Analysis Methods
						li All Ranked URLs
						li International Support System
						li Social Media Tracking
					a.price__btn(href="#") Choose plan
			.price__element
				.price__top
					h3.price__name Business
				.price__bottom
					.price__number
						p 99 #[span per month]
					ul.price__list
						li Competition Analysis Methods
						li All Ranked URLs
						li International Support System
						li Social Media Tracking
					a.price__btn(href="#") Choose plan