section.container.keep
	.wrapper
		p.keep__title Keep in touch
		p Proactively restore flexible mindshare without business users. Professionally provide access to cross-media relationships whereas cutting-edge solutions. Collaboratively.
		.devider.keep__devider
			p
		.keep__block
			.keep__left
				.keep__info
					p Our address
					p House #13, Streat road, Sydney 2310 Australia
				.keep__info
					p Call us
					p + 880 168 109 1425 #[br] + 0216809142
				.keep__info
					p Email us
					p 
					a(href="mailto: contactus@email.com") contactus@email.com	
			.keep__right
				.keep__form
					form(action="#")
						.keep__input
							input(type="text", name="name", required="")
							label Name
						.keep__input
							input(type="text", name="email", required="")
							label Email
						.keep__input
							input(type="text", name="subject", required="")
							label Subject
						.keep__textarea
							textarea(name="text", required="")
							label Message
						.keep__button
							button Send message
				
		


