section.counts
	.wrapper
		.counts__block
			.counts__element
				.counts__circle
					+icon('icon3', 'counts__img')
				p.counts__number 3891
				p User favorites
			.counts__element
				.counts__circle
					+icon('icon9', 'counts__img')
				p.counts__number 281K
				p Posts last 24 hours
			.counts__element
				.counts__circle
					+icon('icon10', 'counts__img')
				p.counts__number 618
				p Total posts
			.counts__element
				.counts__circle
					+icon('icon11', 'counts__img')
				p.counts__number 178
				p Campaigns
			.counts__element
				.counts__circle
					+icon('icon12', 'counts__img')
				p.counts__number 285
				p Amazing campaigns