section.container.free
	.wrapper
		p.free__title Let's get started now. It's free!
		p 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
		a(href="#").free__btn Start free trial
