.wrapper
	section.section__advantages
		.advantages__block
			.advantages__element
				.advantages__icon
					+icon('icon2','advantages__img1')
				p.advantages__title Sleek design
				p Continually expedite an expanded array of portals without customer directed ROI. Compellingly iterate resource sucking expertise vis-a-vis bleeding-edge communities.
			.advantages__element
				.advantages__icon
					+icon('icon3', 'advantages__img2')
				p.advantages__title Clean code
				p Continually expedite an expanded array of portals without customer directed ROI. Compellingly iterate resource sucking expertise vis-a-vis bleeding-edge communities.
			.advantages__element
				.advantages__icon
					+icon('icon4','advantages__img3')
				p.advantages__title Creative ideas
				p Continually expedite an expanded array of portals without customer directed ROI. Compellingly iterate resource sucking expertise vis-a-vis bleeding-edge communities.
			.advantages__element
				.advantages__icon
					+icon('icon5', 'advantages__img4')
				p.advantages__title Free support
				p Continually expedite an expanded array of portals without customer directed ROI. Compellingly iterate resource sucking expertise vis-a-vis bleeding-edge communities.