section.case-study
	.wrapper
		p.case-study__title >Case study<
		p A brief story about how this process works, keep an eye till the end.
		.case-study__devider.devider
			p
		.case-study__block
			.case-study__left.ideas
				.ideas__icon
					+icon('icon4', 'ideas__img')
				p.ideas__title Accumulate creative ideas
				p Synergistically myocardinate enterprise deliverables whereas sustainable value. Assertively negotiate vertical e-business after extensible "outside the box" thinking. Efficiently recaptiualize revolutionary value for viral manufactured products.
				a(href="#").ideas__btn Read more
			.case-study__right
				img(src="assets/img/case-study.jpg", alt="alt")