section.section__service.container
	.service__block
		p.service__title Our services
		.service__element
			p Web design
			p Compellingly extend high standards in alignments with economically sound processes. Energistically conceptualize mission-critical processes through impactful customer service. Competently seize sticky scenarios whereas emerging human.
			.service__icon
				+icon('icon6', 'service__img1')
		.service__element
			p Print design
			p Dramatically streamline extensible value after optimal systems. Monotonectally orchestrate long-term high-impact markets whereas enterprise-wide alignments. Rapidiously architect interoperable applications rather than user friendly supply chains.
			.service__icon
				+icon('icon7', 'service__img2')
		.service__element
			p Photography
			p Phosfluorescently brand revolutionary methods of empowerment with compelling metrics. Energistically matrix sustainable paradigms rather than corporate experiences. Quickly parallel task parallel solutions with next-generation results.
			.service__icon
				+icon('icon8', 'service__img3')