.wrapper
	section#about.section__history
		.history__left
			img(src="assets/img/monitor.png", alt="alt")
		.history__right
			p.history__title Our history
			p Collaboratively generate maintainable deliverables vis-a-vis future-proof strategic theme areas. Seamlessly synergize real-time e-business without installed base content. Collaboratively generate leveraged vortals after fully tested web-readiness.
			p Professionally orchestrate compelling infomediaries via diverse interfaces. Seamlessly deploy value-added information before accurate imperatives.
			a(href="#") Browse our work