.container
	section#portfolio.section__resent
		p.resent__title Resent works
		p It has survived not only five centuries, but also the leap scrambled it to make a type.
		.resent__devider.devider
			p
		.resent__links
			a(href="#") All
			|/
			a(href="#") Print design
			|/
			a(href="#") Animation
			|/
			a(href="#") Art
			|/
			a(href="#") Web design
			|/
			a(href="#") Photography
			|/
			a(href="#") Video
			|/
		.resent__block
			.resent__element
				a(href="#")
					img(src="assets/img/img1.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img2.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img3.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img4.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img5.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img6.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img7.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt
			.resent__element
				a(href="#")
					img(src="assets/img/img8.jpg", alt="alt")
					p
						span T-shirt design
						span art / t-szzhirt