section#team.container.team
	.wrapper
		p.team__title Our team
		p Meet the craziest team. Share your thoughts with them.
		.devider.team__devider
			p
		.team__elements
			.team__man
				.team__img
					img(src="assets/img/team.jpg", alt="alt")
				.team__info
					p Kazi Erfan
					p UI/UX Designer
			.team__man
				.team__img
					img(src="assets/img/team2.jpg", alt="alt")
				.team__info
					p Kazi Erfan
					p UI/UX Designer
			.team__man
				.team__img
					img(src="assets/img/team3.jpg", alt="alt")
				.team__info 
					p Kazi Erfan
					p UI/UX Designer
			.team__man
				.team__img
					img(src="assets/img/team4.jpg", alt="alt")
				.team__info
					p Kazi Erfan
					p UI/UX Designer
			.team__man
				.team__img
					img(src="assets/img/team5.jpg", alt="alt")
				.team__info
					p Kazi Erfan
					p UI/UX Designer