section.container.integrations
	.wrapper
		p.integrations__title Great integrations with others
		p Proactively provide access to front-end processes rather than resource sucking action items.#[br] Objectively seize exceptional sources vis-a-vis interactive services. Assertively foster resource-leveling leadership via premier.
		.devider.integrations__devider
			p
		.integrations__block
			.integrations__element
				span
					img(src="assets/img/integration.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration2.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration3.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration4.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration5.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration6.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration7.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration8.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration9.png", alt="alt")
			.integrations__element
				span
					img(src="assets/img/integration10.png", alt="alt")

		
