.footer
	background-color: $service-bg
	padding: 35px 0
.socials__img
	+dem(30px)
	fill: $advantages-gray
	transition: $trs
.wrapper
	display: flex
	flex-wrap: wrap
.footer__left
	margin-right: auto
.socials
	display: flex
	align-items: center
	justify-content: center
	li
		margin-right: 25px
		&:last-child
			margin-left: 0
	a
		&:hover
			.socials__img
				fill: $red
.footer__right
	margin-left: auto
	p
		+rem(14px)
		line-height: 24px
		color: $advantages-gray
		font-weight: 600
	
