@media(max-width: 1120px)
	.section-top__menu-link
		padding: 10px
@media(max-width: 980px)
	.section-top
		.section-top__info
			padding-top: 50px
			h1
				span
					font-size: 42px
	.section-top__menu-link
		padding: 0
	.section__advantages
		padding-bottom: 50px
		margin-bottom: 50px
	.section__history
		margin-bottom: 50px
	.history__left
		align-self: center
@media(max-width: 768px)
	.section-top
		.section-top__header
			flex-wrap: wrap
		.section-top-logo
			flex-basis: 100%
			text-align: center
			margin-bottom: 30px
		.section-top__menu
			flex-basis: 100%
		.section-top__info
			> p
				max-width: 100%
	.section-top__menu-item
		margin: 5px
	.section-top__menu-link
		border-bottom: none
		&:hover
			border-bottom: none
	.advantages__element
		+size(6)
@media(max-width: 680px)
	.history__left, .history__right
		+size(12)
	.history__left
		img
			margin: 0 auto 30px
	.history__right
		text-align: center
@media(max-width: 560px)
	.buttons
		a
			display: block
			margin: 10px auto
			&:first-child
				margin: 15px auto
	.menu
		ul
			justify-content: center
		
@media(max-width: 480px)
	.advantages__element
		+size(12)