@media(max-width: 1120px)
	.section-top__menu-link
		padding: 10px
@media(max-width: 980px)
	.section-top
		.section-top__info
			padding-top: 50px
			h1
				span
					font-size: 42px
	.section-top__menu-link
		padding: 0
	.section__advantages
		padding-bottom: 50px
		margin-bottom: 50px
	.section__history
		margin-bottom: 50px
	.history__left
		align-self: center
	.section__service
		margin: 50px 0
		padding: 50px 0
	.section__resent
		padding-top: 0
		margin-top: 50px
	.resent__element
		p
			bottom: 10px
			span
				&:first-child
					+rem(18px)
	.case-study
		padding: 50px 0
		&__left
			flex-basis: 50%
			padding: 30px
		&__right
			flex-basis: 50%
			img
				max-width: 100%
				margin-left: 0
@media(max-width: 768px)
	.section-top
		.section-top__header
			flex-wrap: wrap
		.section-top-logo
			flex-basis: 100%
			text-align: center
			margin-bottom: 30px
		.section-top__menu
			flex-basis: 100%
		.section-top__info
			> p
				max-width: 100%
	.section-top__menu-item
		margin: 5px
	.section-top__menu-link
		border-bottom: none
		&:hover
			border-bottom: none
	.advantages__element
		+size(6)
	.section__service
		padding-left: 15px
		padding-right: 15px
		&::after
			display: none
		.service__block
			width: 100%
			text-align: left
		.service__title
			padding-right: 0
			padding-left: 25px
			border-right: 0
			border-left: 6px solid $red
		.service__element
			max-width: 100%
			margin: 25px 0
			padding-right: 80px
			box-sizing: border-box
			.service__icon
				right: 0
	.resent__element
		flex-basis: 50%
	.case-study
		&__block
			flex-direction: column
		&__left
			padding: 20px
		&__right
			margin-top: 30px

@media(max-width: 680px)
	.history__left, .history__right
		+size(12)
	.history__left
		img
			margin: 0 auto 30px
	.history__right
		text-align: center
@media(max-width: 560px)
	.buttons
		a
			display: block
			margin: 10px auto
			&:first-child
				margin: 15px auto
	.menu
		ul
			justify-content: center
		
@media(max-width: 480px)
	.advantages__element
		+size(12)
	.resent__element
		flex-basis: 100%