html
	font-size: 16px

body
	margin: 0
	font-family: $default-font
	font-weight: 400
	line-height: 1.2
	color: $black
	-webkit-font-smoothing: antialiased

//.debug
	//+debug(rgba(255, 255, 255, 0.3), yellow)
	//z-index: 100

section
	position: relative
	padding: 60px 0


ul
	padding: 0
	margin: 0
	list-style: none

p
	margin: 0

h1, h2, h3, h4, h5
	margin-top: 0
	margin-bottom: 0
	font-weight: normal

*
	box-sizing: border-box
a
	color: #000
	text-decoration: none
.container
	+minMax(320px,1920px,0)
.wrap
	+minMax(320px, 1200px, 15px)

.wrapper
	+wrapper