extends ../_template

block variables
  - var title = 'Bino'

block content
  include ../elements/_debug
  include ../common/_header
  include ../common/_section-advantages
  include ../common/_section-history
  include ../common/_section-service
  include ../common/_section-resent
  include ../common/_section-case-study
  
  
